<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="ruleset(ruleset)">
    <tr th:each="rule, state : ${ruleset.rules}">
      <th:block th:if="${state.first}">
        <td th:rowspan="${ruleset.rules.size}" th:text="${ruleset.targetName}"/>
        <td th:rowspan="${ruleset.rules.size}" th:text="${ruleset.targetDescription}"/>
      </th:block>
      <td>
        <th:block th:replace="jsonPathRule :: ruleRule(${state.count}, ${rule})"></th:block>
      </td>
      <td>
        <th:block th:replace="jsonPathRule :: ruleDescription(${rule})"></th:block>
      </td>
    </tr>
  </th:block>
</html>